.TitleCenterLine {
  .title {
    color: #ea2636;
    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
    margin-bottom: 24px;
    font-family: "Spectral";
  }
  .underline {
    margin: 0 auto;
    border-bottom: 1px solid #ea2636;
    width: 50%;
    height: 2px;
  }
}
