.ant-collapse-header-text {
  font-family: Spectral;
  font-size: 20px;
  font-weight: 700;
  line-height: 30.44px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #2d2d2a;
  display: flex;
  align-items: center;
}

.ant-collapse-expand-icon {
  margin-top: 4px;
}
.collapse-img {
  display: none;

  @media (max-width: 600px) {
    display: block;
    width: 100% !important;
  }
}
