.title-container {
  .title-text {
    font-family: "Spectral";
    font-size: clamp(24px, 6vw, 70px);
    font-weight: 600;
    color: #ea2636;
    margin: 0;
    display: inline-block;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  .underline {
    margin-top: 24px;
    height: 2px;
    background-color: #ea2636;
    display: inline-block;

    &.left {
      width: 50%;
      align-self: flex-start;
      position: relative;
      left: 0;
      @media (max-width: 768px) {
        width: 15%;
      }
    }

    &.center {
      width: 50%;
      margin: 0 auto;
      @media (max-width: 768px) {
        width: 15%;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
